*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Figtree, Arial;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 10px 0 100px 0;
  color: white;
}
.header-title{
  width: 800px;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}
.header-content{
  display: flex;
  gap: 20px;
}
.header-logo{
  font-size: 24px;
  color: #f9faf8;
}
.content{
  width: 350px;
}
.content p{
  margin-bottom: 10px;
}
.content button{
  background-color: #3882f6;
  border: none;
  padding: 5px 24px;
  color: white;
  border-radius: 7px;
  font-size: 12px;
}
.title{
  font-weight: bold;
  font-size: 48px;
}
.title-content{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.content-image{
  flex: 1;
  height: 200px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  display: flex;
  list-style: none;
  gap: 16px;
}
a{
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}
.section.one, .section.two{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.section.one .title{
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 30px;
}
.card-container{
  display: flex;
  gap: 46px;
  justify-content: center;
  flex-wrap: wrap;
}
.card-content{
  flex-basis: 150px;
}
.card-content p{
  color: rgb(96, 96, 96);
  font-size: 15px;
  text-align: center;
}
.cards{
  height: 150px;
  border: 3px solid rgb(59, 123, 243);
  border-radius: 10px;
}
.section.two{
  background-color: #eee;
}
.quote, .author{
  width: 830px;
}
.quote{
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  color: #1f2937;
}
.author{
  font-weight: bold;
  text-align: right;
}
.section.three{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
}
.banner{
  background-color: rgb(59, 123, 243);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 800px;
  border-radius: 7px;
}
.banner p:first-of-type{
  font-size: 16px;
  font-weight: bold;
}
.banner p:nth-of-type(2){
  color: #eee;
  font-size: 13px;
}
.banner-button{
  background-color: inherit;
  color: white;
  border: 1px solid white;
  padding: 4px 24px;
  border-radius: 7px;
}
.footer{
  background-color: rgb(16, 22, 46);
  padding: 25px 0;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  font-size: 13px;
}